# don't save most Package Control files; they change a lot
Package Control.*
# but do save them if they end in .sublime-settings
!*.sublime-settings

# don't save workspace file
*.sublime-workspace

# don't save SublimeREPL history
.SublimeREPLHistory
